.header__menu {
  display: flex;
  background-color: var(--grey-50);
  width: 120px;
  padding: 10px;
  height: calc(100% - 20px);
}
.menu {
  &__content {
    display: flex;
    background-color: var(--grey-50);
    height: 100%;
    width: 100px;
    padding-inline: 1rem;
    align-items: center;
    justify-content: space-around;
  }

  &-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border: none;
    background-color: var(--grey-50);
  }

  &__icon {
    padding-right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
  }

  &__wrapper {
    display: flex;
    justify-content: space-around;
  }

  &__drop {
    background-color: var(--grey-50);
    position: fixed;
    position: absolute;
    right: 0px;
    top: 4rem;
    border-end-start-radius: 10px;
    width: 140px;
    background-color: var(--white);
    box-shadow: -1px 4px 3px 0px rgba(0, 0, 0, 0.192), 1px 4px 3px 0px rgba(0, 0, 0, 0.192);
  }
}
@media (max-width: 1200px) {
  .mobile-drop {
    display: none;
  }
}
