header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
}

.header {
  &-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__title {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 28px;
  }

  &__search-form {
    width: 65%;
    height: 2rem;
    margin-inline: 10px;
    display: flex;
  }

  &__notification,
  &__message,
  &__searsh {
    cursor: pointer;
  }

  &__notification,
  &__message,
  &__searsh {
    margin-inline: 10px;
  }

  &__notification .icon,
  &__message .icon {
    width: 21px;
  }

  &__notification::after,
  &__message::after {
    content: '1';
    color: var(--white);
    text-align: center;
    font-family: 'SF-Pro-Display';
    position: absolute;
    top: 0.7rem;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background-color: var(--green);
  }
}

.logo__img {
  width: 1.5rem;
  padding: 10px;
  border-radius: 5px;

  &:hover {
    background-color: var(--grey-50);
  }
}

.search-form {
  &__button,
  &__input {
    height: 100%;
    background-color: var(--grey-50);
    border: none;
    padding-inline: 0.7rem;
  }

  &__button {
    border-radius: 5px;
    height: 34px;
  }

  &__input {
    min-width: 400px;
    width: 90%;
    margin-left: -10px;
  }
}
.content-wrapper {
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.drop__item {
  display: block;
  margin: 5px;
  padding: 1rem;
  border-radius: 5px;
  align-content: center;
  display: flex;

  &:hover {
    background-color: var(--grey-50);
  }
}

.web-drop {
  display: none;
}
@media (max-width: 1200px) {
  .mobile-drop {
    display: none;
  }
  .web-drop {
    display: block;
  }
  .header__menu,
  .menu__content {
    width: auto;
  }
}
