header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
}
.header-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 140px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo__img {
  width: 1.5rem;
  padding: 10px;
  border-radius: 5px;
}
.logo__img:hover {
  background-color: var(--grey-50);
}
.logo__title {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 28px;
}
.header__search-form {
  width: 65%;
  height: 2rem;
  margin-inline: 10px;
  display: flex;
}
.search-form__button,
.search-form__input {
  height: 100%;
  background-color: var(--grey-50);
  border: none;
  padding-inline: 0.7rem;
}
.search-form__button {
  border-radius: 5px;
  height: 34px;
}
.search-form__input {
  min-width: 400px;
  width: 90%;
  margin-left: -10px;
}
.content-wrapper {
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__notification,
.header__message,
.header__searsh {
  cursor: pointer;
}
.header__notification,
.header__message,
.header__searsh {
  margin-inline: 10px;
}
.header__notification .icon,
.header__message .icon {
  width: 21px;
}
.header__notification::after,
.header__message::after {
  content: '1';
  color: var(--white);
  text-align: center;
  font-family: 'SF-Pro-Display';
  position: absolute;
  top: 0.7rem;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: var(--green);
}

.drop__item {
  display: block;
  margin: 5px;
  padding: 1rem;
  border-radius: 5px;
  align-content: center;
  display: flex;
}

.drop__item:hover {
  background-color: var(--grey-50);
}

.web-drop {
  display: none;
}
@media (max-width: 1200px) {
  .mobile-drop {
    display: none;
  }
  .web-drop {
    display: block;
  }
  .header__menu,
  .menu__content {
    width: auto;
  }
}
